body {
    line-height: 1.4;
    word-break: break-word;
  }
  
  html[lang^="ja"] body,
  html[lang^="zh"] body,
  html[lang^="ko"] body {
    line-break: strict;
    overflow-wrap: normal;
    word-break: break-word;
  }
  
  /* Paragraphs */
  
  p {
    font-size: 1rem;
    margin: 0 0 1rem;
  }
  
  /* Anchors */
  
  a {
    cursor: pointer;
  }
  
  /* Headings */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 1.4rem;
    word-break: break-word;
  }
  
  /* Lists */
  
  ul,
  ol {
    margin: 0 0 1.4rem;
  }
  
  ul ul,
  ol ul,
  ul ol,
  ol ol {
    margin: 0;
  }
  
  ul.no-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  /* Code blocks */
  
  pre {
    overflow: auto;
  }
  
  code {
    vertical-align: bottom;
  }
  
  /* Blockquotes */
  
  blockquote {
    border-left: 2px solid;
    margin: 0 0 1.4rem;
    padding-left: 0.7rem;
  }
  
  /* Image alt text */
  
  img {
    max-width: 100%;
    height: auto;
  }
  